<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/hummenu.css">
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <div class="menu-content">
                <ul>
                    <li>
                        <a href="home">プロフィール</a>
                    </li>
                    <li>
                        <a href="find">ユーザ検索</a>
                    </li>
                    <li>
                        <a href="dmfind">DM</a>
                    </li>
                </ul>
            </div>
        </div>
        <title>ユーザ一覧</title>
    </head>
    <body>
        <form method="get" action="find">
            <table align="center">
                <tr><td>キーワード</td><td><input type="text" name="key"></td><td><input type="submit" value="検索"></td></tr>
                <tr><td colspan="3" align="center"><a href="find">キーワードのリセット</a></td></tr>
            </table>
        </form>
        <table align="center" border="1">
            {{res|safe}}
        </table>
    </body>
</html>