<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/hummenu.css">
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <div class="menu-content">
                <ul>
                    <li>
                        <a href="home">プロフィール</a>
                    </li>
                    <li>
                        <a href="find">ユーザ検索</a>
                    </li>
                    <li>
                        <a href="dmfind">DM</a>
                    </li>
                </ul>
            </div>
        </div>
        <title>{{title | safe}}</title>
    </head>
    <body>
        <table align="center" border="1">
            <tr><td>{{user_name|safe}}</td><td>{{edit|safe}}</td></tr>
            <tr><td colspan="2"><pre>{{greet|safe}}</pre></td></tr>
            <tr><td colspan="2"><a href="{{url|safe}}">{{url|safe}}</a></td></tr>
            <tr><td>{{birth|safe}}</td><td>{{loc|safe}}</td></tr>
            <tr><td><a href="follow?user_id={{user_id|safe}}">フォロー</a></td><td><a href="follower?user_id={{user_id|safe}}">フォロワー</td></tr>
        </table>
        <div id="tl">
            {{tl|safe}}
        </div>
    </body>
</html>